{
  "presets": ["flow", ["env", { "modules": false, "loose": true }]],
  "comments": false,
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
